<div class="flex">
    <aside class="bg-gray-800 text-white flex-shrink-0">
        <div class="p-4">
            <h1 class="text-xl font-semibold">Admin Dashboard</h1>
        </div>
        <nav class="mt-6 flex-grow">
            <a
                href="/admin/dashboard"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-tachometer-alt mr-2"></i>
                <span>Dashboard</span>
            </a>
            <a
                href="/admin/users"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-users mr-2"></i>
                <span>Users</span>
            </a>
            <a
                href="/admin/add_user"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-user-plus mr-2"></i>
                <span>Add User</span>
            </a>
            <a
                href="/admin/product"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-shopping-cart mr-2"></i>
                <span>Product</span>
            </a>

            <a
                href="/admin/product_category"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-folder mr-2"></i>
                <span>Category</span>
            </a>

            <a
                href="/admin/orders"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-list mr-2"></i>
                <span>Orders</span>
            </a>

            <a
                href="/admin/signin"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-sign-in-alt mr-2"></i>
                <span>Sign in</span>
            </a>
            <a
                href="/admin/signup"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-user-plus mr-2"></i>
                <span>Sign up</span>
            </a>
            <a
                href="/admin/settings"
                class="flex items-center py-2 px-4 text-gray-400 hover:text-white hover:bg-gray-700"
            >
                <i class="fas fa-cog mr-2"></i>
                <span>Settings</span>
            </a>
        </nav>
    </aside>
</div>
